@import "includes/mixins";
@import "includes/variables";


@font-face {
    font-family: 'Bandera Pro';
    src: url('../fonts/BanderaPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/BanderaPro.otf')  format('opentype'),
    url('../fonts/BanderaPro.woff') format('woff'), url('../fonts/BanderaPro.ttf')  format('truetype'), url('../fonts/BanderaPro.svg#BanderaPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BanderaProMedium';
    src: url('../fonts/BanderaProMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/BanderaProMedium.otf')  format('opentype'),
    url('../fonts/BanderaProMedium.woff') format('woff'), url('../fonts/BanderaProMedium.ttf')  format('truetype'), url('../fonts/BanderaProMedium.svg#BanderaProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf')  format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-SemiBold.woff') format('woff'), url('../fonts/SegoeUI-SemiBold.ttf')  format('truetype'), url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Light.woff') format('woff'), url('../fonts/SegoeUI-Light.ttf')  format('truetype'), url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'Bandera Pro', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a,a:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.clearfix{
    @include clearfix;
}
@mixin h3{
    color: #353535;
    font-family: "BanderaProMedium";
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}
.page{
    overflow: hidden;
}
.wrap{
    max-width: 1141px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    @include clearfix;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hidden{
    display: none!important;
}

/* ==========================================================================
                                 Header
   ========================================================================== */
.head{
    .header{
        background: #353535;
        .overlay{
            display: none;
            z-index: 10;
        }
    }
    &__bottom{
        background: url("../img/fon1.jpg") no-repeat;
        padding-bottom: 55px;
        .top{
            margin-top: 56px;
            overflow: hidden;
            width: 100%;
            @include clearfix;
        }
        .left{
            h1{
                color: white;
                line-height: 1;
                span{
                    font-size: 18px;
                    text-transform: uppercase;
                    display: inline-block;
                    width: 100%;
                    &:first-child{
                        position: relative;
                        left: -10px;
                    }
                }
                strong{
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 1;
                }
            }
        }
        .right{
            a{
                color: white;
                font-size: 30px;
                padding-right: 5px;
                padding-bottom: 20px;
                letter-spacing: .3px;
            }
            div{
                text-align: center;
                padding: 9px 10px;
                height: 80px;
                margin: 13px auto;
                span{
                    color: white;
                    font-family: 'SegoeUI',sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: inline-block;
                    transform: rotate(-3deg);
                    letter-spacing: .6px;
                }
            }
        }
        h2{
            clear: both;
            color: white;
            font-family: "Bandera Pro";
            font-size: 33px;
            font-weight: 500;
            width: 80.19%;
            margin: 34px auto 102px;
            padding-left: 8px;
            letter-spacing: .4px;
        }
        .request{
            background-color: rgba(248, 248, 248, 0.85);
            text-align: center;
            padding: 20px 47px;
            margin: 0 auto;
            h3,p{
                color: #353535;
                font-family: SegoeUI-SemiBold;
                font-weight: 600;
                line-height: 30px;
                text-transform: uppercase;
            }
            h3{
                font-size: 30px;
            }
            p{
                font-size: 18px;
            }
            ul.img{
                display: block;
                margin: 14px auto;
                li{
                    display: inline-block;
                }

            }
            ul.send{
                display: block;
                margin: 0 auto;
                li{
                    display: inline-block;

                }
                [type='text']{
                    padding: 10px;
                    width: 100%;
                    background-color: white;
                    box-shadow: inset 0 1px 2px rgba(119, 119, 119, 0.75);
                }
                [type='submit']{
                    background-color: #0661c9;
                    box-shadow: 0 1px 2px rgba(1, 38, 80, 0.66);
                    border-radius: 30px;
                    padding: 10px 30px;
                    border: none;
                    font-family: SegoeUI-Light;
                    color: white;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 26px;
                    cursor: pointer;
                    &:focus,&:active{
                        outline: none;
                    }
                }
                input{
                    display: inline-block;
                    vertical-align: bottom;
                }
            }
            span{
                color: #232323;
                font-family: SegoeUI-Light;
                font-size: 16px;
                font-weight: 300;
                display: inline-block;
                margin-top: 20px;
            }
        }
        .sendMess{
            display: none;
            background-color: rgba(248, 248, 248, 0.85);
            text-align: center;
            padding: 63px 47px;
            width: 82.38%;
            margin: 0 auto;
            h3{
                font-family: SegoeUI-Light;
                color: #0661c9;
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 30px;
                margin-bottom: 30px;
            }
            p{
                font-family: SegoeUI-SemiBold;
                color: #353535;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 30px;
            }
        }
    }
}
/*======= head: End =======*/

/* ==========================================================================
                                 Why
   ========================================================================== */
.why{
    padding: 51px 0 79px;
    background: url("../img/fon2.jpg") no-repeat;
    background-size: cover;
    .wrap{
        text-align: center;
        h2, >p{
            color: #353535;
            font-family: BanderaProMedium;
            font-weight: 500;
            line-height: 36px;
            text-transform: uppercase;
        }
        h2{
            font-size: $font-h2;
            margin-left: -12px;
            line-height: 42px;
        }
        >p{
            font-size: 25px;
        }
    }
    &__content{
        text-align: center;
        ul{
            li{
                display: inline-block;
                vertical-align: top;
                .img{
                    height: 85px;
                    span{
                        display: inline-block;
                    }
                }
                h3{
                    text-align: left;
                    font-family: BanderaProMedium;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #353535;
                    margin-top: 12px;
                    margin-bottom: -4px;
                }
                p{
                    font-family: SegoeUI-SemiBold;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    color: #353535;
                }
            }
        }
    }
}
/*======= why: End =======*/

/* ==========================================================================
                                 about
   ========================================================================== */
.about{
    background: url("../img/bg.jpg") repeat;
    padding: 38px 0 65px;
    h2{
        color: white;
        font-family: "BanderaProMedium";
        font-size: $font-h2;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0 40px;
    }
    .slider{
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.21);
        background-color: #fcfcfc;
        @include clearfix;
        &__left{
            float: left;
            width: 50%;
            margin: 0;
            border: none;
            .flex-control-nav{
                bottom: 0;
                li{
                    width: 10px;
                    height: 10px;
                }
                a{
                    border: none;
                    background-color: white;
                    box-shadow: inset 1px 1.7px 2px rgba(0, 0, 0, 0.52);
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    &:before{
                        display: none;
                    }
                    &.flex-active{
                        background-color: #0661c9;
                    }
                }
            }
        }
        &__right{
            padding: 60px 25px 55px;
            float: left;
            width: 50%;
            margin: 0;
            p{
                span{
                    display: inline-block;
                    width: 40%;
                    vertical-align: top;
                }
                span+span{
                    display: inline-block;
                    width: 60%;
                }
            }
        }
    }
    &__bottom{
        h4, p, li{
            color: white;
            font-family: SegoeUI-SemiBold;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 17px;
            letter-spacing: -.3px;
        }
        h4{
            margin-top: 52px;
        }
        li{
            list-style: disc inside;
        }
    }
}
/*======= about: End =======*/

/* ==========================================================================
                                 plan
   ========================================================================== */
.plan{
    position: relative;
    padding: 54px 0 0;
    text-align: center;
    h2{
        color: #353535;
        font-family: "BanderaProMedium";
        font-size: 40px;
        font-weight: 500;
        line-height: 70px;
        text-transform: uppercase;
        text-align: center;
    }
    .top{
        p{
            color: #353535;
            font-family: "BanderaProMedium";
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .4px;
        }
    }
    .ewsn{
        position: absolute;
        top: -1.5%;
        left: 1.6%;
        width: 15.07%;
    }
    &__block{
        position: relative;
        margin-top: 110px;
        .p-wrap{
            position: relative;
            svg{
                overflow: visible;
                position: absolute;
                left: 0;
                top: 0;
                transform: translate3d(0,0,0);
                z-index: 5;
                polygon{
                    transition: .2s;
                    opacity: 0;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
            .swiper-container{
                position: relative;
                width: 100%;
                @include clearfix;
                .swiper-wrapper{
                    .swiper-slide {
                        text-align: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                        width: 226px!important;
                        height: 362px;
                        float: left;
                    }
                }
                .swiper-scrollbar{
                    z-index: 5;
                }
            }
        }
        .popup{
            position: absolute;
            top: -22px;
            width: 43.12%;
            background: #fff;
            border: 1px solid black;
            padding-bottom: 43px;
            display: none;
            z-index: 10;
            &__title{
                position: relative;
                background: #353535;
                padding: 14px 20px;
                h3{
                    color: white;
                    font-family: "BanderaProMedium";
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                span.close.icon-close{
                    position: absolute;
                    top: 18px;
                    right: 15px;
                    cursor: pointer;
                }
            }
            &__img{
                padding: 34px;
                vertical-align: top;
            }
            &__bottom{
                padding: 15px 0;
                h3,p{
                    color: #353535;
                    font-family: "BanderaProMedium";
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                h3{
                    span{
                        line-height: 45px;
                    }
                    span.art{
                        display: block;
                    }
                }
            }
        }
    }
    .sections{
        @include clearfix;
        padding-top: 55px;
        padding-bottom: 115px;
        .left,.right{
            width: 50%;
            text-align: center;
            div{
                width: 284px;
                color: #353535;
                font-family: "SegoeUI";
                font-size: 18px;
                font-weight: 400;
                text-align: left;
                margin: 0 auto;
            }
        }
    }
    .review{
        background: url("../img/bg.jpg") repeat;
        padding-bottom: 20px;
        position: relative;
        h3{
            font-family: SegoeUI-SemiBold;
            font-size: $font-h3;
            line-height: 30px;
            text-transform: uppercase;
            color: white;
            margin: 26px 0;
        }
        ul{
            text-align: center;
            li{
                width: 23.92%;
                display: inline-block;
                [type='text']{
                    width: 100%;
                    background-color: white;
                    box-shadow: inset 0 1px 2px rgba(119, 119, 119, 0.75);
                    color: #858585;
                    font-family: "SegoeUI-Light";
                    font-size: 18px;
                    line-height: 26px;
                    padding: 8px 14px;
                }
                [type='submit']{
                    display: inline-block;
                    background-color: #0661c9;
                    box-shadow: 0 1px 2px rgba(1, 38, 80, 0.66);
                    color: white;
                    font-family: "SegoeUI-Light";
                    font-size: 22px;
                    line-height: 26px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                    padding: 13px 40px;
                    outline: none;
                }
                &:last-child{
                    display: block;
                    margin: 25px auto 14px;
                }
            }
            li:last-child{
                width: auto;
            }
        }
        p{
            color: white;
            font-family: "SegoeUI-Light";
            font-size: 16px;
        }
        .sended{
            padding: 50px;
            display: none;
            position: absolute;
            width: 80%;
            left: 50%;
            margin-left: -40%;
            top: 5%;
            background: rgba(248, 248, 248, 0.95);
            border-radius: 5px;
            height: auto;
            z-index: 10;
            h3{
                font-size: $font-h3;
                text-align: center;
                color: #0661c9;
                text-transform: uppercase;
                font-family: SegoeUI;
            }
        }
    }
}
/*======= plan: End =======*/

/* ==========================================================================
                                 section5
   ========================================================================== */
.section5{
    padding: 85px 0 125px;
    position: relative;
    @include clearfix;
    .sec5bg{
        background: url("../img/fon5.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wrapper{
        width: 65.15%;
        float: right;
    }
    h3{
        @include h3;
    }
    ul{
        margin-top: 72px;
        li{
            position: relative;
            color: #292929;
            font-family: "Bandera Pro";
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 25px;
            div{
                position: absolute;
                top: 10px;
                left: 20px;
            }
            span{
                color: white;
                font-family: "Bandera Pro";
                font-size: 40px;
                font-weight: 400;
                line-height: 24px;
                vertical-align: middle;
            }
            i{
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}
/*======= section5: End =======*/

/* ==========================================================================
                                 section6
   ========================================================================== */
.section6{
    padding: 70px 0 43px;
    background: #f6f6f6;
    h3{
        @include h3;
        padding-left: 20px;
    }
    ul{
        margin-top: 73px;
        font-size: 0;
        li{
            display: inline-block;
            text-align: center;
            margin-bottom: 50px;
            vertical-align: top;
            div{
                width: 62%;
                text-align: center;
                i{
                    display: block;
                    margin: 0 auto;
                }
            }
            span{
                color: #353535;
                font-family: "Bandera Pro";
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                display: inline-block;
                margin-top: 15px;
            }
        }
    }
}
/*======= section6: End =======*/

/* ==========================================================================
                                 section7
   ========================================================================== */
.section7{
    padding: 70px 0 0;
    text-align: center;
    h3{
        @include h3;
        margin-bottom: 53px;
    }
    span{
        color: #fefefe;
        font-family: "Bandera Pro";
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 20px;
        display: block;
    }
    .left{
        width: 38.21%;
        height: 195px;
        background-color: #00be6a;
        float: none;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        img{
            margin-top: 20px;
        }
    }
    .right{
        width: 37.598%;
        height: 195px;
        background-color: #ff7f42;
        float: none;
        display: inline-block;
        vertical-align: top;
        img{
            margin-top: 20px;
        }
    }
    .content{
        width: 77.91%;
        margin: 30px auto 50px;
        background: #f3f3f3;
        padding:30px;
        h4{
            color: #373737;
            font-family: "BanderaProMedium";
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
        }
        ul{
            margin-top: 30px;
            margin-bottom: 60px;
            text-align: center;
            li{
                text-align: center;
                display: inline-block;
                img{
                    display: block;
                    margin: 0 auto;
                    &:last-child{
                        margin-top: 15px;
                    }
                }
            }
        }
        p{
            color: #373737;
            font-family: "SegoeUI-SemiBold";
            font-weight: 600;
            line-height: 23px;
            font-size: 16px;
            strong{
                font-size: 18px;
            }
        }
    }
    .review{
        background: url("../img/bg.jpg") repeat;
        padding-bottom: 17px;
        position: relative;
        h3,h4{
            font-family: SegoeUI-SemiBold;
            font-size: $font-h3;
            line-height: 20px;
            text-transform: uppercase;
            color: white;
            margin: 37px 0 12px;
            letter-spacing: -.8px;
        }
        h4{
            margin-top: 23px;
            font-size: 18px;
            margin-bottom: 39px;
        }
        ul{
            text-align: center;
            padding-left: 35px;
            margin-bottom: 32px;
            li{
                width: 23.92%;
                display: inline-block;
                [type='text']{
                    width: 100%;
                    background-color: white;
                    box-shadow: inset 0 1px 2px rgba(119, 119, 119, 0.75);
                    color: #858585;
                    font-family: "SegoeUI-Light";
                    font-size: 18px;
                    line-height: 26px;
                    padding: 8px 14px;
                }
                [type='submit']{
                    display: inline-block;
                    background-color: #0661c9;
                    box-shadow: 0 1px 2px rgba(1, 38, 80, 0.66);
                    color: white;
                    font-family: "SegoeUI-Light";
                    font-size: 22px;
                    line-height: 26px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                    padding: 13px 40px;
                    outline: none;
                }
                &:last-child{

                }
            }
            li:last-child{
                width: auto;
            }
        }
        p{
            color: white;
            font-family: "SegoeUI-Light";
            font-size: 16px;
        }
        .sended{
            padding: 50px;
            display: none;
            position: absolute;
            width: 80%;
            left: 50%;
            margin-left: -40%;
            top: 5%;
            background: rgba(248, 248, 248, 0.95);
            border-radius: 5px;
            height: auto;
            z-index: 10;
            h3{
                font-size: $font-h3;
                text-align: center;
                color: #0661c9;
                text-transform: uppercase;
                font-family: SegoeUI;
                margin: 26px auto;
            }
        }
    }
}
/*======= section7: End =======*/

/* ==========================================================================
                                 section8
   ========================================================================== */
.section8{
    padding: 40px 0 50px;
    h3{
        @include h3;
        margin-bottom: 30px;
    }
    &__slider{
        width: 100%;
        max-width: 874px;
        margin: 0 auto;
    }
    .flex-viewport{
        background-color: #d5caab;
        border: 7px solid white;
        box-shadow: -3.4px 4.9px 5px rgba(0, 0, 0, 0.09);
    }
    .flex-control-nav{
        li{
            width: 13.3%;
            float: none;
            display: inline-block;
            background-color: #d5caab;
            border: 7px solid white;
            box-shadow: -3.4px 4.9px 5px rgba(0, 0, 0, 0.09);
        }
        li+li{
            margin-left: 1%;
        }
    }
}
/*======= section8: End =======*/

/* ==========================================================================
                                 section9
   ========================================================================== */
.section9{
    background: url(../img/fon9.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0 50px;
    h3{
        @include h3;
        margin-bottom: 50px;
    }
    ul{
        width: 100%;
        text-align: center;
        li{
            @include clearfix;
            display: inline-block;
            .user{
                display: inline-block;
                p,a{
                    color: white;
                    font-family: "BanderaProMedium";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    text-transform: uppercase;
                    position: relative;
                    text-align: center;
                }
                a{
                    &:after{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 100%;
                        bottom: -2px;
                        left: 0;
                        height: 2px;
                        background: #d9d9d9;
                    }
                }
            }
            .otziv{
                display: inline-block;
                vertical-align: top;
                position: relative;
                .content{
                    position: relative;
                    background: rgba(255, 255, 255, .9);
                    padding: 40px 50px 50px 50px;
                }
                h4{
                    color: #353535;
                    font-family: "BanderaProMedium";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    text-transform: uppercase;
                }
                p{
                    color: #353535;
                    font-family: "SegoeUI";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}
/*======= section9: End =======*/

/* ==========================================================================
                                 section10
   ========================================================================== */
.section10{
    padding: 40px 0 50px;
    h3{
        @include h3;
        margin-bottom: 30px;
    }
    .content{
        margin: 0 auto;
        h4{
            color: #373737;
            font-family: "BanderaProMedium";
            font-size: 18px;
            font-weight: 500;
            line-height: 40px;
            text-transform: uppercase;
            margin: 40px 0 30px;
        }
        .left{
            li{
                margin-bottom: 5px;
                a{
                    color: #373737;
                    font-family: "SegoeUI-Light";
                    font-size: 16px;
                    line-height: 40px;
                    text-decoration: underline;
                    position: relative;
                    &:after{
                        content: '';
                        display: inline-block;
                        width: 40px;
                        height: 44px;
                        position: absolute;
                        right: -50px;
                        top: -14px;
                        background: url(../img/pdf.png);
                    }
                }
            }
        }
        .right{
            .flexslider{
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
            }
            text-align: center;
            .button-zoom{
                cursor: pointer;
                display: inline-block;
                border-bottom: 1px dashed;
                transition: .5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .zoom{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: none;
                text-align: center;
                .img{
                    position: relative;
                    display: inline-block;
                    transition: .5s;
                    transform: scale(0);
                    vertical-align: middle;
                }
                .before{
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
                .close{
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    display: inline-block;
                    width: 27px;
                    height: 27px;
                    background: url(../img/close.png) no-repeat;
                    cursor: pointer;
                }
            }
            .zoom-in{
                transform: scale(1)!important;
            }
        }
    }
}
/*======= section10: End =======*/

/* ==========================================================================
                                 section11
   ========================================================================== */
.section11{
    padding: 40px 0 0;
    h3{
        @include h3;
        margin-bottom: 30px;
    }
    #map{
        position: relative;
        width: 100%;
        height: 540px;
    }
}
/*======= section11: End =======*/

/* ==========================================================================
                                 footer-block
   ========================================================================== */
.footer-block{
    text-align: center;
    .top{
        padding: 50px 0;
        display: inline-block;
        position: relative;
        h3,a{
            @include h3;
            display: inline-block;
        }
        a{
            color: #0661c9;
            font-style: italic;
            margin-left: 5px;
            position: relative;
            &:hover{
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-bottom: 3px dotted #0661c9;
                }
            }
        }
        span{
            position: absolute;
            right: -80px;
            top: 23px;
            &:before{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #00be6a;
                position: absolute;
                left: -20px;
                top: 5px;
            }
        }
        &:after{
            content: '';
            position: absolute;
            right: -230px;
            top: 60px;
            background: url(../img/arrow-down.png) no-repeat;
            width: 209px;
            height: 142px;
        }
    }
    .footer{
        background: url("../img/bg.jpg") repeat;
        padding: 30px 0;
        overflow: hidden;
        p,a{
            color: white;
            font-family: "SegoeUI";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            display: block;
        }
        ul{
            font-size: 0;
            line-height:0;
        }
        li{
            width: 33%;
            display: inline-block;
        }
        li:nth-of-type(1){
            height: 100%;
            position: relative;
            text-align: left;
            p{
                display: inline-block;
                &:before{
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
            }
        }
        li:nth-of-type(2){
            display: inline-block;
            text-align: center;
            h4,strong{
                color: white;
                font-family: "BanderaProMedium";
                line-height: 35px;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
            }
            strong{
                color: white;
                font-family: "BanderaProMedium";
                line-height: 35px;
                text-transform: uppercase;
                font-size: 40px;
            }
        }
        li:nth-of-type(3){
            padding: 10px 0 10px;
            text-align: right;
            address{
                display: inline-block;
                text-align: center;
            }
            a{
                color: white;
                font-family: "BanderaProMedium";
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
}
/*======= footer-block: End =======*/

/* ==========================================================================
                                 sprites
   ========================================================================== */
.icon-close {
    background-image: url(../img/sprite.png);
    background-position: -155px -118px;
    width: 14px;
    height: 14px;
}
.icon-i1 {
    background-image: url(../img/sprite.png);
    background-position: -280px -201px;
    width: 23px;
    height: 10px;
}
.icon-img1 {
    background-image: url(../img/sprite.png);
    background-position: 0px -149px;
    width: 75px;
    height: 75px;
}
.icon-img10 {
    background-image: url(../img/sprite.png);
    background-position: 0px -280px;
    width: 56px;
    height: 48px;
}
.icon-img11 {
    background-image: url(../img/sprite.png);
    background-position: -55px -224px;
    width: 66px;
    height: 41px;
}
.icon-img12 {
    background-image: url(../img/sprite.png);
    background-position: 0px -224px;
    width: 55px;
    height: 56px;
}
.icon-img13 {
    background-image: url(../img/sprite.png);
    background-position: -75px -149px;
    width: 84px;
    height: 58px;
}
.icon-img14 {
    background-image: url(../img/sprite.png);
    background-position: -159px -149px;
    width: 68px;
    height: 51px;
}
.icon-img15 {
    background-image: url(../img/sprite.png);
    background-position: -280px -144px;
    width: 55px;
    height: 57px;
}
.icon-img2 {
    background-image: url(../img/sprite.png);
    background-position: -204px 0px;
    width: 76px;
    height: 76px;
}
.icon-img3 {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 102px;
    height: 66px;
}
.icon-img4 {
    background-image: url(../img/sprite.png);
    background-position: -102px 0px;
    width: 102px;
    height: 66px;
}
.icon-img5 {
    background-image: url(../img/sprite.png);
    background-position: -280px 0px;
    width: 61px;
    height: 72px;
}
.icon-img6 {
    background-image: url(../img/sprite.png);
    background-position: -78px -66px;
    width: 77px;
    height: 82px;
}
.icon-img7 {
    background-image: url(../img/sprite.png);
    background-position: -204px -76px;
    width: 72px;
    height: 71px;
}
.icon-img8 {
    background-image: url(../img/sprite.png);
    background-position: -280px -72px;
    width: 61px;
    height: 72px;
}
.icon-img9 {
    background-image: url(../img/sprite.png);
    background-position: 0px -66px;
    width: 78px;
    height: 83px;
}
.icon-map {
    background-image: url(../img/sprite.png);
    background-position: -155px -91px;
    width: 18px;
    height: 27px;
}
.icon-phone {
    background-image: url(../img/sprite.png);
    background-position: -155px -66px;
    width: 21px;
    height: 25px;
}
/*======= sprites: End =======*/



/* ==========================================================================
                                 media-queries
   ========================================================================== */
@media (min-width: 340px) {
    .head{
        &__bottom{
            .left,.right{
                text-align: center;
            }
            .right{
                div{

                    width: 46%;
                }
            }
        }
    }
    .plan{
        .popup{
            width: 90%;
            margin-left: -45%;
        }
    }
}
/* =================== (min-width: 340px) : End =================== */

@media (max-width: 530px) {
    .section5{
        h3{
            font-size: 25px;
        }
        li{
            padding-left:0;
            div{
                display: none;
            }
        }
    }
    .section6 {
        text-align: center;
        li{
            width: 80%;
        }
    }
    .section7{
        .left,.right{
            width: 80%;
            margin: 0 0 20px;
        }
    }
    .section10{
        .left{
            h4,a{
                line-height: 20px!important;
            }
            a{
                &:after{
                    display: none!important;
                }
            }
        }
    }
}
/* =================== (max-width: 530px) : End =================== */

@media (min-width: 531px) {
    .section5{
        li{
            padding-left: 95px;
        }
    }
    .section6{
        li{
            width: 49%;
        }
    }
    .section10{
        .left{
            li{
                padding-left: 30px;
            }
        }
    }
}
/* =================== (min-width: 531px) : End =================== */

@media (max-width: 767px) {
    .wrap>h3,.wrapper>h3{
        font-size: $mob-h2!important;
    }
    .head{
        &__bottom{
            .top{
                margin-top: 30px;
            }
            .left,.right{
                float: none;
            }
            .left{
                h1{
                    strong{
                        font-size: 30px;
                    }
                }
            }
            .right{
                margin-top: 10px;
                div{
                    margin: 0 auto;
                    height: auto;
                }
            }
            .request,.sendMess{
                padding: 15px;
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 16px;
                    line-height: 16px;
                    margin-bottom: 10px;
                }
                span{
                    margin-top: 10px;
                }
            }
        }
    }
    .about{
        .slider{
            &__left,&__right{
                width: 80%!important;
            }
            &__right{
                padding: 30px 15px!important;
            }
        }
    }
    .plan{
        .sections{
            padding: 30px 15px;
            .left,.right{
                float: none;
                width: 80%;
                margin: 0 auto;
            }
            .right{
                margin-top: 20px;
            }
        }
        .review{
            ul{
                li:not(:last-child){
                    width: 80%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .section5{
        .sec5bg{
            opacity: .6;
        }
        .wrapper{
            width: 80%;
            float: none;
            margin: 0 auto;
        }
    }
    .section7{
        .content{
            li{
                width: 80%;
            }
        }
        .review{
            h3{
                line-height: 30px;
            }
            li:not(:last-child){
                width: 80%;
                margin-bottom: 20px;
            }
            li{
                margin-left: 0;
            }
        }
    }
    .section10{
        .content{
            .right{
                width: 70%!important;
            }
        }
    }
    .footer-block{
        .footer{
            ul{
                width: 80%;
                margin: 0 auto;
                text-align: center;
                li{
                    text-align: center!important;
                    width: 90%;
                }
            }
        }
    }
}
/* =================== (max-width: 767px) : End =================== */

@media (min-width: 768px) {
    .head{
        &__bottom{
            .top{
                width: 90%;
                margin: 56px auto 0;
                .right{
                    div{
                        width: 77%;
                    }
                }
            }
            .right{
                div{
                    background: url("../img/approved.png") no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .plan{
        .popup{
            width: 50%;
            margin-left: -25%;
        }
        .sections{
            div{
                &:nth-of-type(3){
                    margin-bottom: 33px;
                }
            }
        }
        .review{
            li+li{
                margin-left: 25px;
            }
        }
    }
    .section7{
        .content{
            li{
                width: 29%;
            }
        }
        .review{
            li+li{
                margin-left: 20px;
            }
        }
    }
}
/* =================== (min-width: 768px) : End =================== */

@media (max-width: 989px) {
    h2{
        font-size: $mob-h2!important;
    }
    .head{
        .header{
            padding: 20px;
            ul{
                position: fixed;
                width: 50%;
                top: 50%;
                left: 50%;
                margin-left: -25%;
                margin-top: -25%;
                display: none;
                z-index: 20;
                li{
                    margin-bottom: 10px;
                    text-align: center;
                    a{
                        color: white;
                    }
                }
            }
            .mobile-menu{
                display: inline-block;
                height: 25px;
                cursor: pointer;
                z-index: 10;
                span{
                    width: 30px;
                    height: 5px;
                    position: relative;
                    display: inline-block;
                    background: #fff;
                    &:before,&:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        display: inline-block;
                        background: #fff;
                    }
                    &:before{
                        top: -10px;
                    }
                    &:after{
                        bottom: -10px;
                    }

                }
            }
            .overlay{
                position: fixed;
                background: rgba(0, 0, 0, 0.88);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                &:before{
                    content: '';
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        &__bottom{
            .top{
                margin-bottom: 10px;
            }
            h2{
                margin: 25px auto;
                font-size: 25px;
            }
            .request{
                width: 70%;
                ul.img{
                    display: none;
                }
                ul{
                    li{
                        display: block!important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .why{
        .wrap{
            >p{
                font-size: 20px;
                line-height: 25px;
            }
        }
        &__content{
            ul{
                li{
                    width: 80%;
                    margin: 10px auto;
                }
            }
        }
    }
    .plan{
        .ewsn{
            display: none;
        }
    }
    .section6{
        h3{
            padding-left: 0;
        }
        li{
            display: inline-block;
            div{
                float: none;
                display: inline-block;
            }
        }
    }
    .section9{
        .otziv{
            margin: 20px 0;
        }
    }
    .section10{
        .content{
            width: 80%;
            text-align: center;
            .left{
                text-align: left;
                width: 80%;
                float: none;
                display: inline-block;
            }
            .right{
                margin-top: 30px;
                text-align: center;
                width: 50%;
                float: none;
                display: inline-block;
                .zoom{
                    .img{
                        width: 80%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
/* =================== (max-width: 989px) : End =================== */

@media (min-width: 990px) {
    .head{
        .header{
            ul{
                text-align: justify;
                font-size: 1px;
                line-height: 0;
                padding: 28px 0;
                li{
                    text-align: left;
                    display: inline-block;
                    a{
                        font-size: 18px;
                        letter-spacing: -.12px;
                        color: #d9d9d9;
                        line-height: 20px;
                        transition: .5s;
                        &:hover{
                            color: #0661c9;
                        }
                    }
                }
                &:after{
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 0;
                    visibility: hidden;
                }
            }
            .mobile-menu{
                display: none;
            }
        }
        &__bottom{
            .top{
                width: 100%;
            }
            .left{
                width: 21.91%;
            }
            .right{
                div{
                    width: 77%;
                }
            }
            .request{
                width: 82.38%;
                ul{
                    li{
                        width: 30%;
                    }
                }
                ul.send{
                    li:nth-of-type(2){
                        margin-left: 35px;
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .why{
        &__content{
            padding-top: 70px;
            text-align: center;
            ul{
                li{
                    width: 33%;
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    h3{
                        text-align: left;
                        font-family: BanderaProMedium;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        text-transform: uppercase;
                        text-align: left;
                        color: #353535;
                        margin-top: 6px;
                    }
                    p{
                        font-family: SegoeUI-SemiBold;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                        color: #353535;
                        letter-spacing: -.33px;
                    }
                }
                li:nth-of-type(3n+1){
                    padding-right: 82px;
                    padding-bottom: 49px;
                    .img{
                        padding-left: 56px;
                    }
                    p{
                        padding-right: 30px;
                    }
                }
                li:nth-of-type(3n+2){
                    padding: 0 30px 0 45px;
                    .img{
                        padding-left: 81px;
                    }
                }
                li:nth-of-type(3n+3){
                    padding-left: 67px;
                    .img{
                        padding-left: 48px;
                    }
                }

            }
        }
    }
    .plan{
        &__block{
            .popup{
                width: 492px;
                margin-left: 0;
            }
        }
    }
    .section6{
        li{
            width: 33%;
            &:nth-of-type(3n+1){
                div{
                    float: left;
                }
            }
            &:nth-of-type(3n+2){
                div{
                    display: inline-block;
                }
            }
            &:nth-of-type(3n+3){
                div{
                    float: right;
                }
            }
        }
    }
    .section9{
        ul{
            font-size: 0;
            li{
                font-size: 0;
                position: relative;
            }
            li:nth-child(odd){
                & .user{
                    width: 30%;
                    text-align: center;
                    img{
                        display: inline-block;
                    }
                }
                & .otziv{
                    .content{
                        float: right;
                        &:before{
                            content: '';
                            border: 20px solid transparent;
                            border-right: 20px solid rgba(255,255,255,.9);
                            position: absolute;
                            top: 30px;
                            left: -40px;
                            display: inline-block;
                        }
                    }
                }
            }
            li:nth-child(even){
                & .user{
                    float: right;
                }
                & .otziv{
                    float: left;
                    .content{
                        float: left;
                        &:after{
                            content: '';
                            border: 20px solid transparent;
                            border-left: 20px solid rgba(255,255,255,.9);
                            position: absolute;
                            top: 30px;
                            right: -40px;
                            display: inline-block;
                        }
                    }
                }
            }
            li:nth-of-type(1){
                margin-bottom: 90px;
            }
            li:nth-of-type(2){
                margin-bottom: 80px;
            }
            li:nth-of-type(3){
                margin-bottom: 120px;
            }
            .otziv{
                width: 69%;
                .content{
                    width: 100%;
                }
            }
        }
    }
    .section10{
        .content{
            width: 80%;
            margin: 0 auto;
        }
        .right{
            width: 292px;
            margin-right: 50px;
        }
    }
}
/* =================== (min-width: 990px) : End =================== */

@media (max-width: 1140px) {
    .about{
        .slider{
            text-align: center;
            box-shadow: none;
            background-color: inherit;
            &__left,&__right{
                float: none;
                width: 60%;
                display: inline-block;
            }
            &__left{
                img{
                    width: 100%;
                }
            }
            &__right{
                text-align: left;
                background-color: #fcfcfc;
            }
        }
        &__bottom{
            width: 80%;
            margin: 0 auto;
        }
    }
    .plan{
        &__block{
            padding: 0 5px;
            .popup{
                position: absolute;
                left: 50%;
                top: 0;
                img{
                    width: 80%;
                }
            }
        }
    }
    .section9{
        li{
            width: 80%;
        }
    }
    .footer-block{
        .top{
            span{
                display: none;
            }
            &:after{
                display: none;
            }
        }
    }
}
/* =================== (max-width: 1140px) : End =================== */

@media (min-width: 1141px) {
    .section9{
        ul{
            .otziv{
                .content{
                    width: 90%;
                }
            }
        }
    }
    .section10{
        .content{
            width: 100%;
            .right{
                margin-right: 100px;
            }
        }
    }
}
@media (min-width: 1300px) {
    .section10{
        .content{
            .right{
                margin-right: 0;
            }
        }
    }
}